@{
    ViewData["Title"] = "Home Page";
}
@model FYP_Project.ViewModels.CollegeViewModel

<body style="margin: 20px">
    <h1>Colleges</h1>
    <table class="table table-striped table-bordered table-hover" style="max-width: 500px;">
        <tr>
            <td colspan="5">@using (var form = Html.BeginForm("CreateUpdate", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.EditableCollege.CollegeID) 
                <div class="input-group">
                    @Html.TextBoxFor(model => model.EditableCollege.CollegeName, new { @class = "form-control", placeholder="College Name" })
                    @Html.TextBoxFor(model => model.EditableCollege.CollegeAbbv, new { @class = "form-control", placeholder = "College Abbreviation" })
                    @Html.TextBoxFor(model => model.EditableCollege.CollegeCounty, new { @class = "form-control", placeholder = "College County" })
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">@(Model.EditableCollege.CollegeID > 0 ? "Update" : "Add")</button>
                    </div>
                </div>
                @Html.ValidationSummary()
            }
            </td>
        </tr>
        @foreach(var college in Model.Colleges)
            {
                <tr>
                    <td class="text-center">
                        @college.CollegeName
                    </td>
                    <td class="text-center">
                        @college.CollegeAbbv
                    </td>
                    <td class="text-center">
                        @college.CollegeCounty
                    </td>
                    <td class="text-center">
                        <a href="/Home/Edit/@college.CollegeID" onclick="return confirm('Are you sure you want to edit this college?');" class="btn btn-sm btn-success">Edit</a>
                    </td>
                    <td class="text-center">
                        <a href="/Home/Delete/@college.CollegeID" onclick="return confirm('Are you sure tou want to delete this college?');" class="btn btn-sm btn-Danger">Delete</a>
                    </td>
                </tr>
            }
    </table>
</body>
