@{
    ViewData["Title"] = "Verify Results";
    int i = 1;
}
@model FYP_Project.ViewModels.ResultsViewModel

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title" data-aos="fade-up">
            <h2>Verify Results</h2>
        </div>

        <table id="requestsTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Result #</th>
                    <th>Game VS</th>
                    <th>Score</th>
                    <th>Winning Team</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="requestsTableBody">
                @foreach (var result in Model.Results)
                {
                    if (result.Verified == 0)
                    {
                        if (result.Team1ID == Model.EditablePlayer.TeamID || result.Team2ID == Model.EditablePlayer.TeamID)
                        {
                            <tr>
                                <td>@i</td>
                                @if (result.Team1ID == Model.EditablePlayer.PlayerID)
                                {
                                    @foreach (var team in Model.Teams)
                                    {
                                        if (team.TeamID == result.Team1ID)
                                        {
                                            <td>@team.TeamName</td>
                                        }
                                    }
                                }
                                else
                                {
                                    @foreach (var team in Model.Teams)
                                    {
                                        if (team.TeamID == result.Team2ID)
                                        {
                                            <td>@team.TeamName</td>
                                        }
                                    }
                                }
                                @if (result.Completed == 1 && (result.CompletedBy != Model.EditablePlayer.TeamID))
                                {
                                    <td>@result.Team1Score - @result.Team2Score</td>
                                    @foreach (var team in Model.Teams)
                                    {
                                        if (team.TeamID == result.WinningTeamID)
                                        {
                                            <td>@team.TeamName</td>
                                        }
                                    }
                                    <td><a href="/Results/Accept/@result.ResultID" class="btn btn-sm btn-success">Accept Result</a>  <a href="/Results/Reject/@result.ResultID" class="btn btn-sm btn-success">Reject Result</a></td>
                                }
                                else if (result.Completed == 1 && (result.CompletedBy == Model.EditablePlayer.TeamID))
                                {
                                    <td>@result.Team1Score - @result.Team2Score</td>
                                    @foreach (var team in Model.Teams)
                                    {
                                        if (team.TeamID == result.WinningTeamID)
                                        {
                                            <td>@team.TeamName</td>
                                        }
                                    }
                                    <td>Waiting For Other Team To Verify Result</td>
                                }
                                else
                                {
                                    <td>TBD</td>
                                    <td>TBD</td>
                                    <td><a href="/Results/Submit/@result.ResultID" class="btn btn-sm btn-success">Submit Result</a></td>
                                }

                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>

    <!-- Datatable syling and functionality https://datatables.net/manual/installation -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css" />

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#requestsTable').DataTable();
        });
    </script>

</section>
