@{
    ViewData["Title"] = "Result";
}
@model FYP_Project.ViewModels.ResultsViewModel

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Submit Result</h5>

                        @using (var form = Html.BeginForm("CreateUpdate", "Results", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.EditableResult.ResultID)

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditableResult.Team1ID, new { @class = "form-control", placeholder = "Team 1" })
                                <label for="floatingInputUsername">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.PlayerFirstName, new { @class = "form-control", placeholder = "First Name" })
                                <label for="floatingInputUsername">First Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.PlayerLastName, new { @class = "form-control", placeholder = "Last Name" })
                                <label for="floatingInputUsername">Last Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.emailAddress, new { @class = "form-control", placeholder = "Email Address" })
                                <label for="floatingInputEmail">Email address</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.PlayerTelephone, new { @class = "form-control", placeholder = "Phone Number" })
                                <label for="floatingPassword">Phone Number</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.PlayerAddress, new { @class = "form-control", placeholder = "Address" })
                                <label for="floatingPassword">Address</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.TwitchName, new { @class = "form-control", placeholder = "Twitch Username" })
                                <label for="floatingPassword">Twitch Username</label>
                            </div>

                            <hr>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                                <label for="floatingPasswordConfirm">Confirm Password</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Update</button>
                            </div>

                            @Html.ValidationSummary()
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="~/css/LogIn.css" />
</section>