@model FYP_Project.ViewModels.ResultsViewModel
@{
    ViewData["Title"] = "Submit Result";
    string Team1Name = "TBD";
    string Team2Name = "TBD";
    foreach (var team in Model.Teams)
    {
        if(team.TeamID == Model.EditableResult.Team1ID)
        {
            Team1Name = team.TeamName;
        }
        else if(team.TeamID == Model.EditableResult.Team2ID)
        {
            Team2Name = team.TeamName;
        }
    }
}
<!-- code for register page found here: https://startbootstrap.com/snippets/registration-page -->


<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Submit Result</h5>

                        @using (var form = Html.BeginForm("Verify", "Results", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.EditableResult.ResultID)
                            @Html.HiddenFor(model => model.EditableResult.Team1ID)
                            @Html.HiddenFor(model => model.EditableResult.Team2ID)
                            @Html.HiddenFor(model => model.EditableResult.WinningTeamID)
                            @Html.HiddenFor(model => model.EditableResult.LosingTeamID)
                            @Html.HiddenFor(model => model.EditableResult.GameID)
                            @Html.HiddenFor(model => model.EditableResult.CompletedBy)
                            @Html.HiddenFor(model => model.EditableResult.Playoffs)
                            @Html.HiddenFor(model => model.EditableResult.Group)

                            <div class="form-floating mb-3">
                                @Html.TextBox("TeamName", Team1Name, new { @class = "form-control", placeholder = "Home Team", @readonly = true })
                                <label for="floatingInputUsername">Home Team</label>
                            </div>

                            <label for="floatingInputUsername">Home Team Score</label>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.EditableResult.Team1Score, new { @class = "form-control", placeholder = "Home Team Score" })
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBox("Team2Name", Team2Name, new { @class = "form-control", placeholder = "Away Team", @readonly = true })
                                <label for="floatingInputUsername">Away Team</label>
                            </div>

                            <label for="floatingInputUsername">Away Team Score</label>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.EditableResult.Team2Score, new { @class = "form-control", placeholder = "Away Team Score" })
                            </div>

                            <label for="floatingInputUsername">Match Date</label>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.EditableResult.MatchDate, new { @class = "form-control", placeholder = "Match Date" })
                            </div>

                            <hr>

                            <label for="floatingInputUsername">Twitch Username</label>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.EditableResult.TwitchURL, new { @class = "form-control", placeholder = "Twitch Username" })
                            </div>

                            @if (Model.EditableResult.GameID == 0)
                            {
                                <label for="floatingInputUsername">Ballchasing.com Link</label>
                                <div class="form-floating mb-3">
                                    @Html.EditorFor(model => model.EditableResult.BallchasingLink, new { @class = "form-control", placeholder = "Ballchasing.com Link" })
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.EditableResult.BallchasingLink)
                            }

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Submit Result</button>
                            </div>

                            @Html.ValidationSummary()
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="~/css/LogIn.css" />

</section>

